<!DOCTYPE html>
<html>
<head>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>Lets Rock This Event</title>
    <!-- Stylesheets & Fonts -->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i%7CRajdhani:400,600,700"
          rel="stylesheet">
    <!-- Plugins Stylesheets -->
    <link rel="stylesheet" href="~/assets/css/loader/loaders.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome/font-awesome.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" href="~/assets/css/aos/aos.css">
    <link rel="stylesheet" href="~/assets/css/swiper/swiper.css">
    <link rel="stylesheet" href="~/assets/css/lightgallery.min.css">
    <!-- Template Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/style.css">
    <!-- Responsive Stylesheet -->
    <link rel="stylesheet" href="~/assets/css/responsive.css">
    
</head>
<body>
    <!-- Loader Start -->
    <div class="css-loader">
        <div class="loader-inner line-scale d-flex align-items-center justify-content-center"></div>
    </div>
    <!-- Loader End -->
    <!-- Header Start -->
    <header style="background-color:#170936;">

        <div class="top-header d-none d-sm-flex justify-content-between align-items-center">
            <a class="navbar-brand" href="index" style="margin-left:5px"><img src="/images/img.png" style="border-radius:50px;width:50px;height:50px" alt="LRTE"></a>
            
            <div class="contact">
                <a href="#" class="tel"><i class="fa fa-phone" aria-hidden="true"></i>+9214213213</a>
                <a href="#">
                    <i class="fa fa-envelope"
                       aria-hidden="true"></i>info@letsrockthisevent.com
                </a>
            </div>

            <nav class="d-flex aic">
                @if (!User.Identity.IsAuthenticated)
                {
                    <a class="fa fa-user" style="padding-top:10px" aria-hidden="true">@Html.ActionLink("Register", "Register", "Home", new { area = "" }, new { @class = "nav-link" })</a>
                    <a class="fa fa-user" style="padding-top:10px" aria-hidden="true">@Html.ActionLink("Login", "Login", "Home", new { area = "" }, new { @class = "nav-link" })</a>

                }

                <ul class="nav social d-none d-md-flex" style="padding-right:40px; padding-left:0px">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                </ul>

            </nav>
        </div>
        <nav class="navbar navbar-expand-md navbar-light" style="padding:10px">

            <div class="group d-flex align-items-center">
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<a class="login-icon d-sm-none" href="#"><i class="fa fa-user"></i></a>
                    <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>*@
            </div>
            @*<a class="search-icon d-none d-md-block" href="#"><i class="fa fa-search"></i></a>*@
            <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Services", "Services", "Services", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Feedbacks", "Index", "Feedbacks", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Events", "Event", "Events", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Reservation", "Create", "Reservations", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Payment Options", "PaymentOptions", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Our Team", "OurTeam", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About Us", "AboutUs", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact Us", "ContactUs", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">@Html.ActionLink("Profile", "Profile", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        if (User.IsInRole("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Panel", "AdminPanel", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        <li class="nav-item"><button class="btn btn-primary" id="logout">Logout</button></li>
                    }


                </ul>
                @*<form class="bg-white search-form" method="get" id="searchform">
                        <div class="input-group">
                            <input class="field form-control" id="s" name="s" type="text" placeholder="Search">
                            <span class="input-group-btn">
                                <input class="submit btn btn-primary" id="searchsubmit" name="submit" type="submit"
                                       value="Search">
                            </span>
                        </div>
                    </form>*@
            </div>
        </nav>

    </header>
    <!-- Header End -->

    
    <div class="container">
        @RenderBody()
        <hr />
    </div>
    <footer>
        <p>&copy; Let's Rock This Event</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#logout').click(function () {

                $.ajax({
                    url: 'http://localhost:50008/api/Account/Logout',
                    method: 'POST',
                    headers: {
                        'Authorization': 'Bearer ' + sessionStorage.getItem('accessToken')
                    },
                    success: function (response) {
                        sessionStorage.removeItem('accessToken');
                        window.location.href = "http://localhost:50008/Home/Login"
                    },
                    error: function (jqXHR) {

                    }

                });
            })
        });

    </script>
</body>
</html>
