@model Project.Models.Reservation

@{
    ViewBag.Title = "Create";
}

<style>
    body {
        background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(/images/pic-2.jpg);
        color: white;
    }
    .form-control {
        width: 50%;
        margin: auto;
    }
</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="single-pricing text-center">
    <h1>ADD RESERVATION</h1>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h6>Reservation Date:</h6>
    @Html.EditorFor(model => model.reservation_date, new { htmlAttributes = new { type = "date", @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.reservation_date, "", new { @class = "text-danger" })
    <br />
    <h6>Reservation Time:</h6>
    @Html.EditorFor(model => model.reservation_time, new { htmlAttributes = new { type="time", @class = "form-control" } })

    @Html.ValidationMessageFor(model => model.reservation_time, "", new { @class = "text-danger" })
    <br />
    <h6>Service Type:</h6>
    @Html.EditorFor(model => model.event_type, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.event_type, "", new { @class = "text-danger" })

    <br />
    <h6>Payment:</h6>

    @Html.EditorFor(model => model.reservation_payment, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.reservation_payment, "", new { @class = "text-danger" })

    <br />
    
            <input type="submit" value="Create" class="btn btn-primary" />
    
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



<!--jQuery-->
<script src="~/assets/js/jquery-3.3.1.js"></script>
<!--Plugins-->
<script src="~/assets/js/bootstrap.bundle.js"></script>
<script src="~/assets/js/loaders.css.js"></script>
<script src="~/assets/js/aos.js"></script>
<script src="~/assets/js/swiper.min.js"></script>
<script src="~/assets/js/lightgallery-all.min.js"></script>
<!--Template Script-->
<script src="~/assets/js/main.js"></script>